{:company/legal-name "東京電力ホールディングス株式会社"
 :company/lei "5299004EMJ3R4RVR5Y75"
 :company/jurisdiction "JP"
 :company/website "https://www.tepco.co.jp"
 :company/ticker "9501 (TSE Prime)"
 :company/inquiry-form-url "https://www.tepco.co.jp/ep/support/"}
